:root {
  --background-black: #282a36;
  --current-line: #44475a;
  --foreground: #f8f8f2;
  --comment: #6272a4;
  --dracula-cyan: #8be9fd;
  --dracula-green: #50fa7b;
  --dracula-orange: #ffb86c;
  --dracula-pink: #ff79c6;
  --dracula-purple: #bd93f9;
  --dracula-red: #ff5555;
  --dracula-yellow: #f1fa8c;
}

@font-face {
  font-family: 'YouBlockHead' ;
  src: url('./font/CCYouBlockheadCaps\ W00\ Regular.ttf');
}

html * {
  font-family: 'YouBlockHead';
}

.app__container {
  background: var(--background-black);
  height: 100vh;
}

.searchBar__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.searchBar__iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 35px;
  background: var(--comment);
  color: var(--foreground);
  border-radius: 4px 0px 0px 4px;
}

.searcBar__input {
  height: 31px;
  padding-left: 10px;
  border-radius: 0px 4px 4px 0px;
  border: none;
}

.searcBar__input:focus {
  outline: none;
}

button.searchBar__submit {
  margin-left: 10px;
  padding: 8px 10px;
  border-radius: 4px;
  border: none;
  background: var(--dracula-green);
  cursor: pointer;
  color: var(--current-line);
  font-size: 12px;
}